.b-photo{
    width: 30vw;
    border-radius: 50%;
    margin-left: 35vw;
}
main{
    background-color: rgb(204, 204, 204);
}
.b-text{
    color: rgb(255, 251, 28);
    background-color: black;
}
footer{
    background-color: rgb(233, 229, 179);
}
header{
    background-color: rgb(243, 231, 183);
}
iframe{
    display: flex;
    
}
iframe{
    margin-left: 20vw;
}